@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #f9f3ec !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  background-color: inherit;
}

.top-navbar {
  margin-top: 1.5rem;
  height: 100px;
  background-color: #fff;
  border-radius: 12px;
}

.top-navbar > .logo-container {
  max-height: 100px;
  display: flex;
  align-items: center;
}

.top-navbar img {
  max-height: 90px;
}

.top-navbar h4 {
  margin-block-end: 0px;
  color: #c69457;
}

.top-navbar .navbar-nav {
  padding-right: 1rem;
}

.top-navbar a {
  color: #000 !important;
  font-weight: 500;
  margin: 0px 0.5rem;
}

.zaginione-btn {
  background-color: #c69457;
  border-radius: 4px;
  font-weight: 500;
  margin-left: 1rem;
}
.zaginione-btn > a {
  color: #fff !important;
}

.zaginione-btn:hover {
  /* border: 1px solid #000; */
  -webkit-box-shadow: inset 8px 8px 24px -10px rgba(121, 104, 82, 1);
  -moz-box-shadow: inset 8px 8px 24px -10px rgba(121, 104, 82, 1);
  box-shadow: inset 8px 8px 24px -10px rgba(121, 104, 82, 1);
}

/* MAIN CONTAINER */

.container-blue {
  background-color: #e4edf0;
}

.home h1 {
  font-weight: 700;
  font-size: 3rem;
}

.home button {
  background-color: #fff;
  border-radius: 24px;
  padding: 1.25rem 1.75rem;
  font-weight: 500;
  margin-right: 2rem;
}

.photo-container {
  min-height: 80vh;
  position: relative;
}

.photo-container img {
  max-width: 100%;
  object-fit: cover;
  border: 12px solid #e4edf0;
  border-radius: 32px;
}
